@import 'normalize.css';

:root {
    --primary: rgb(254, 44, 85);
    --text-color: rgb(22, 24, 35);
    --black: #000;
    --white: #fff;

    --background-color-hover: rgba(22, 24, 35, 0.03);

    --font-family: 'TikTokFont', sans-serif;

    // Default Layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'TikTokFont', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

// Fonts embedded
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: TikTokDisplayFont;
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}

// Custom tippy tooltip
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        border-radius: 8px;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
    .tippy-content {
        padding: 8px 9px;
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
}
